<footer>
  <div>
    <ul class="footer-left-bar d-none d-md-block">
      <li>
        <a href="https://github.com/Loreperni" target="_blank">
          <i class="fab fa-github"></i>
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/lorenzo-perniciano-1bbb29207/"
          target="_blank"
        >
          <i class="fab fa-linkedin-in"></i>
        </a>
      </li>
    </ul>
    <div class="footer-right-bar d-none d-md-block">
      <a href="mailto:lorenzo.perniciano@bywaves.it" target="_blank"
        >lorenzo.perniciano@bywaves.it
      </a>
    </div>
  </div>
</footer>
