<app-nav-bar></app-nav-bar>
<div class="row wrapper">
  <div class="background"></div>
  <div class="column">
    <h2 class="pre-name">
      <span role="img" aria-label="wave">👋🏼</span> hey! my name is
    </h2>
    <div>
      <p class="p-name">Lorenzo Perniciano<span class="p-name2">.</span></p>
    </div>
    <div>
      <p class="txt">
        i'm a human [or at least that's what the capcha says] from Milan,
        actually based in Malaga.
      </p>
      <p class="txt">
        right now i am open to job offers, you can find my
        <a href="/resume">resume here</a>.
      </p>
      <p class="txt">
        i go by <a href="github" rel="nofollow">@Loreperni</a> on github.
      </p>
    </div>
  </div>
</div>
<app-footer></app-footer>
