.btn {
  cursor: pointer;
  margin: 20px;
}

.icon-bar {
  margin: 3px;
  position: relative;
}
/*! VALUTA SE, COME INCLUDERE IL MENÚ E CON QUALE COMPONENTE*/
/*FIXME: posizionamento per l'apertura del menú*/
/*TODO: dopo il click fai apparire il menú dall'alto */
