<app-nav-bar></app-nav-bar>
<main>
  <article>
    <section class="section portfolio" aria-labelledby="portfolio-label">
      <div class="container">
        <h2 class="section-title headline-md text-center" id="portfolio-label">Latest Projects</h2>
        <ul class="portfolio-list">
          <li>
            <div class="portfolio-card">
              <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                <img src="../../../assets/img/img-global.png" loading="lazy" alt="Global warming site"
                  class="img-cover">
                <a href="http://globalwarming.pivots.it/" class="btn-icon fa-solid fa-arrow-right" aria-label="More"
                  style="text-decoration: none">
                </a>
              </div>
              <div class="card-content">
                <h3 class="title-md">GLOBAL WARMING</h3>
                <p class="card-text"> un sito che tramite delle <a href="https://global-warming.org/">API</a> mostra i livelli medi
                  nell'atmosfera di: co2, no2 e Metano tramite grafici, inoltre fornisce dati anche sui valori di: Aree delle calotte
                  polari e temperatura durante gli anni. </p>
                <a href="http://globalwarming.pivots.it/" class="btn btn-primary chip">View Project</a>
              </div>
            </div>
          </li>
          <li>
            <div class="portfolio-card">
              <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                <app-counter></app-counter>
              </div>
              <div class="card-content">
                <h3 class="title-md">COUNTER</h3>
                <p class="card-text"> Un semplice counter, puoi aggiungere numeri, sottrarli oppure resettare il counter </p>
                </div>
                </div>
                </li>
          <li>
            <div class="portfolio-card">
              <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                <app-weather></app-weather>
                </div>
                <div class="card-content">
                  <h3 class="title-md">meteo</h3>
                  <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe natus, mollitia accusantium quae
                    voluptas doloribus possimus odio molestiae accusamus et! Sint nihil iste debitis deleniti velit ipsa nobis laborum
                    ab! </p>
                  <a href="#" class="btn btn-primary chip">View Project</a>
                </div>
                </div>
                </li>
                <li>
                  <div class="portfolio-card">
                    <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                      <img src="#" loading="lazy" alt="descrizione" class="img-cover">
                      <a href="#" class="btn-icon fa-solid fa-arrow-right" aria-label="More" style="text-decoration: none">
                      </a>
                      </div>
                      <div class="card-content">
                <h3 class="title-md">PROJ !</h3>
                <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe natus, mollitia accusantium quae
                  voluptas doloribus possimus odio molestiae accusamus et! Sint nihil iste debitis deleniti velit ipsa nobis laborum ab!
                </p>
                <a href="#" class="btn btn-primary chip">View Project</a>
                </div>
                </div>
          </li>
        </ul>
      </div>
    </section>
  </article>
</main>
