<app-nav-bar></app-nav-bar>
<!--<app-p-code></app-p-code>-->
<main>
  <article>
    <section class="section service " aria-labelledby="service-label">
      <div class="container">
        <ul class="service-list">
          <!--TODO: fai in modo che tutto il container sia cliccabile-->
          <li class="card-container portfolio-card">
            <div class="card-banner card-md" style="background-color: hsl(177, 39%, 72%)">
              <a routerLink="photo" routerLinkActive="active" class="btn-icon"
                aria-label="More about Website Design for Marketing Agency Startup">
                <div calss="ion-icon" name="arrow-forward-sharp" aria-hidden="true">
                  <i class="fa-solid fa-chevron-down"></i>
                </div>
              </a>
              <div>
                <h3 class="card-title title-sm">Photography</h3>
                <p class="body-sm"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua. </p>
              </div>
            </div>
          </li>
          <li class="card-container portfolio-card">
            <div class="card-banner card-md" style="background-color: hsl(245, 100%, 90%)">
              <a routerLink="code" routerLinkActive="active" class="btn-icon"
                aria-label="More about Website Design for Marketing Agency Startup">
                <div calss="ion-icon" name="arrow-forward-sharp" aria-hidden="true">
                  <i class="fa-solid fa-chevron-down"></i>
                </div>
              </a>
              <div>
                <h3 class="card-title title-sm">Web Development</h3>
                <p class="body-sm"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua. </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </article>
</main>

