<app-nav-bar></app-nav-bar>
<!--<app-p-code></app-p-code>-->
<main>
  <article>
    <section class="section service has-bg-image" aria-labelledby="service-label"
      style="background-image: url('/src/assets/img/bg-chiaro.png')">
      <div class="container">
        <ul class="service-list">
          <!--TODO: fai in modo che tutto il container sia cliccabile-->
          <li class="card-container portfolio-card">
            <div class="card-banner card-md" style="background-color: var(--secondary)">
              <!--TODO: cerca una freccia da font awsome e mettila-->
              <a href="" class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
                <div calss="ion-icon" name="arrow-forward-sharp" aria-hidden="true"></div>
              </a>
              <div>
                <h3 class="card-title title-sm">Photography</h3>
                <p class="body-sm"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua. </p>
              </div>
            </div>
          </li>
          <li class="card-container portfolio-card">
            <div class="card-banner card-md" style="background-color: var(--accent)">
              <a href="" class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
                <div calss="ion-icon" name="arrow-forward-sharp" aria-hidden="true"></div>
              </a>
              <div>
                <h3 class="card-title title-sm">Web Development</h3>
                <p class="body-sm"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua. </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </article>
</main>

