<app-nav-bar></app-nav-bar>
<main>
  <article>
    <section class="section service " aria-labelledby="service-label">
      <div class="container">
        <ul class="service-list">
          <li class="card-container portfolio-card">
            <a routerLink="photo" routerLinkActive="active" class="card-banner card-md"
              style="background-color: hsl(177, 39%, 72%); text-decoration: none; color: black">
              <div>
                <h3 class="card-title title-sm">Photography</h3>
                <p class="body-sm"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua. </p>
              </div>
            </a>
          </li>
          <li class="card-container portfolio-card">
            <a routerLink="code" routerLinkActive="active" class="card-banner card-md"
              style="background-color: hsl(245, 100%, 90%); text-decoration: none; color: black">
              <div>
                <h3 class="card-title title-sm">Web Development</h3>
                <p class="body-sm"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua. </p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </section>
  </article>
</main>

