<!--TODO: riattiva i link quando le pagine sono pronte-->
<div class="header wrapper">
  <div class="background"></div>
  <nav>
    <ul>
      <li><a routerLink="" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/works/code" routerLinkActive="active">Portfolio</a></li>
      <!--TODO: quando sarà pronto p-photo metti routerLink="/works" per far scegliere all'utente tra code o foto (ora reindirizza a p-code)-->
      <li><a routerLink="/blog" routerLinkActive="active"class="disable" >Blog</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      <li><div class="BB">
        <input (click)="toggleDarkTheme()" type="checkbox" class="checkbox" id="checkbox">
        <label for="checkbox" class="checkbox-label">
          <i class="fas fa-sun fa-sm"></i>
          <i class="fas fa-moon"></i>
          <span class="ball"></span>
        </label>
      </div></li>
    </ul>
  </nav>
  <hr class="hr-animate" />
</div>
