body {
  --text: #0c0817;
  --background: #eeecf9;
  --primary: #301d72;
  --secondary: #8971e0;
  --accent: #4422bf;
}
body.dark-theme {
  --text: #ece8f7;
  --background: #080613;
  --primary: #a08de2;
  --secondary: #371f8e;
  --accent: #6240dd;
}

body {
  color: var(--text);
  background-color: var(--background);
}
.disable {
  pointer-events: none;
cursor: default;
opacity: 50%;
}
